<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ship2"
    android:versionCode="1"
    android:versionName="2.3.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <!-- 适应屏幕大小 -->
	<supports-screens 
           android:largeScreens="true"  
            android:normalScreens="true" 
            android:smallScreens="true"  
            android:anyDensity="true"/>
	
    <application
        android:name="com.example.ship2.GlobalID"
        android:allowBackup="true"
        android:icon="@drawable/shop"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ship2.loginActivity"
            android:label="@string/app_name"
        	android:screenOrientation="portrait"
        	android:configChanges="orientation|keyboardHidden"
        	android:windowSoftInputMode="stateHidden|adjustPan" 
        	 >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="bussiness_message"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
        
        <activity android:name="BandWList"
        android:configChanges="orientation|keyboardHidden|screenSize"
        ></activity>
        <activity android:name="com.example.ship_Info.BandWInfo"
        android:configChanges="orientation|keyboardHidden|screenSize"
        ></activity>
        <activity android:name="BandWViewPagerActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:windowSoftInputMode="adjustResize|stateHidden" 
        android:launchMode="singleTask"></activity>
        
        <activity android:name="com.example.ship_Info.bussinessInfo"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
        
        <activity android:name="DetailPicture"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
        
        <activity android:name="image_information"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
        <activity android:name="com.example.ship_Info.imageInfo"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
        
        <activity android:name="MainActivity"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
        
        <activity android:name="MsgTalk"
        android:configChanges="orientation|keyboardHidden|screenSize|keyboard|screenLayout|uiMode"
        android:windowSoftInputMode="adjustResize|stateHidden" 
        android:launchMode="singleTask"
        ></activity>
        
        <activity android:name="MsgTalkPre"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:windowSoftInputMode="adjustResize|stateHidden" 
        android:launchMode="singleTask"
        ></activity>
        
        <activity android:name="NewMainActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:windowSoftInputMode="adjustResize|stateHidden" 
        android:launchMode="singleTask"
        ></activity>
        
        <activity android:name="SendActivity"
        	android:configChanges="orientation|keyboardHidden"
        	android:windowSoftInputMode="adjustResize|stateHidden"
        android:launchMode="singleTask"
        	></activity>
        <activity android:name="SendPre"
        	android:configChanges="orientation|keyboardHidden"
        	android:windowSoftInputMode="adjustResize" 
        	></activity>
        <activity android:name="SettingActivity"
        	android:configChanges="orientation|keyboardHidden"
        	android:windowSoftInputMode="adjustResize|stateHidden" 
        android:launchMode="singleTask"
        	></activity>
                
        <activity android:name="SetPropertiesActivity"
        	android:configChanges="orientation|keyboardHidden"
        	android:windowSoftInputMode="adjustResize|stateHidden" 
        android:launchMode="singleTask"
        	></activity>
        
        <activity android:name="Text_information"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
        <activity android:name="com.example.ship_Info.testInfo"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
        
        <activity android:name="ViewPagerActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:windowSoftInputMode="adjustResize|stateHidden" 
        android:launchMode="singleTask"></activity>
        
        <activity android:name="weather"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
        <activity android:name="com.example.ship_Info.weatherInfo"
        	android:configChanges="orientation|keyboardHidden"
        	></activity>
    </application>
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> 
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.WRITE_CALENDAR"/>

<!--使用网络功能所需权限  -->   
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">   
    </uses-permission>   
<uses-permission android:name="android.permission.INTERNET">   
    </uses-permission>   
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">   
        </uses-permission>   
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE">   
            </uses-permission>   
           
        <!-- SDK离线地图和cache功能需要读写外部存储器 -->   
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">   
                </uses-permission>   
                
                <!-- 获取设置信息和详情页直接拨打电话需要以下权限  -->   
                <uses-permission android:name="android.permission.READ_PHONE_STATE">   
                    </uses-permission>   
                    <uses-permission android:name="android.permission.CALL_PHONE">   
                        </uses-permission>   
                        
                        <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->   
                        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">   
                            </uses-permission>   
                            <permission android:name="android.permission.BAIDU_LOCATION_SERVICE">   
                                </permission>   
                                <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">   
                                    </uses-permission>   
                                    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">   
                                        </uses-permission>   
                                        <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION">   
                                            </uses-permission>   
                                            <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <!-- 设置手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
<uses-permission
android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission
android:name="android.permission.ACCESS_COARSE_UPDATES" />
<uses-permission
android:name="android.permission.READ_PHONE_STATE" />

<!-- 设置获取手机联系人权限 -->    
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
</manifest>
